.c-table {

  table {
    background-color: var(--color-card);
    border: var(--border);
    border-collapse: separate;
    border-radius: var(--border-radius-md);
    border-spacing: 0;
  }

  & thead {
    background-color: var(--color-surface);
  }

  & th {
    text-align: start;
  }

  & th,
  td {
    padding: var(--space-4);
  }

  & tr+tr>th,
  & tr+tr>td {
    border-top: var(--border-subtle);
  }
}
